:root {
  --dark-grey: #737373;
  --grey: #adadad;
  --light-grey: #e5e5e5;
}
/*For minesweeper this is 888 CCC FFF?*/

@font-face {
  font-family: MSSansSerif;
  src: url('MSW98UI-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: MSSansSerif;
  src: url('MSW98UI-Regular.otf');
  font-weight: normal;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --dark-grey: #222;
    --grey: #666;
    --light-grey: #888;
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  /*font-family:
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

/* icons from https://win98icons.alexmeub.com/ */
